img {
    height: 200px;
    width: 234px;
    border-radius: 20px;
}

.box_clown {
    text-align: center;
    height: 380px;
}

.main {
    background-color: rgb(99, 71, 10);
    color: white;
    text-align: center;
}

.clown {
    font-size: 300px;
    text-decoration: none;
}

.container_clown {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: rgb(39, 0, 53);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid rgb(100, 2, 2);

}

/* .services {
    display: flex;
    justify-content: center;
} */

a {
    margin: 20px;
    font-size: 25px
}

/* #magaz {
    height: 62px;
    width: 150px;
    top: 0px;
    right: 0px;
    background-color: rgb(146, 0, 144);
    color: white;
    cursor: pointer;
    position: absolute;
} */

#continue {
    height: 44px;
    width: 194px;
    background-color: rgb(24, 121, 151);
    color: white;
    cursor: pointer;
}

/* типа ховер анимация */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.title h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    color: #fcfffc;
    margin-bottom: 50px;
}

.list_menu a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    color: #fcfffc;
    border-left: 2px solid #F5B7C7;
    transition: 0.2s ease;
    padding-left: 5px;
}

.list_menu a:hover {
    border-left: 2px solid #F5B7C7;
    transition: 0.2s ease;
    padding-left: 1px;
}

.list_menu li {
    margin: 10px 0;
}

.list_menu {
    margin-bottom: 50px;
}

.menu {
    top: 0;
    padding: 1vh 50px;
    background: rgba(58, 53, 66, 0.5);
    left: 0px;
    height: 100vh;
    border-right: 20px solid #20db20;
    background: linear-gradient(70deg, #0000ffa3, #ff5271db);
    position: absolute;
    left: -710px;
    transition: 0.6s ease;
}

.menu:hover {
    left: 0;
    transition: 0.5s ease;
}
#progressbar {
    background-color: black;
    margin: auto;
    width: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position:absolute;
    border-radius: 13px;
    padding: 3px;
  }
  
  #progressbar>div {
    background-color: orange;
    width: 20%;
    height: 20px;
    border-radius: 10px;
  }
  