body {
    width: 100%;
}

.img {
    width: 300px;
    height: 200px;

}

.main {
    height: 2000px;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    text-align: center;
    /* color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 20px rgb(162, 0, 255),
        0 0 92px rgb(162, 0, 255),
        0 0 50px rgb(162, 0, 255),
        0 0 1px rgb(162, 0, 255); */


}

.clown {
    text-decoration: none;
}

.container_clown {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(39, 0, 53);
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid rgb(100, 2, 2);


}

a {
    margin: 5px;
    font-size: 25px;
    cursor: pointer;
}

#continue {
    height: 44px;
    width: 194px;
    background-color: rgb(2, 135, 0);
    color: white;
    cursor: pointer;
}


/* типа ховер анимация */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.title h1 {

    font-size: 40px;
    color: #fcfffc;
    margin-bottom: 50px;
}

.list_menu a {
    font-size: 25px;
    color: #fcfffc;
    transition: 0.2s ease;
    padding-left: 5px;
}

/* .list_menu a:hover {
    transition: 0.2s ease;
    padding-left: 1px;
} */

.tymbaumba {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_menu {

    display: flex;
    align-items: center;
}

.menu {
    width: 1000px;
    top: 0;
    padding: 10px 95px;
    background: rgba(58, 53, 66, 0.5);
    height: 100vh;
    border-right: 20px solid #20db20;
    background: linear-gradient(70deg, #0000ffa3, #ff5271db);
    position: absolute;
    left: -980px;
    transition: 0.6s ease;
}

.menu:hover {
    left: 0;
    transition: 0.5s ease;
}

#progressbar {
    background-color: black;
    margin: auto;
    width: 500px;
    border-radius: 13px;
    padding: 3px;
}

#progressbar>div {
    background-color: orange;
    height: 20px;
    border-radius: 10px;
}

#score {
    margin-bottom: 20px;
}

#futer {
    display: flex;
    gap: 80%;
    height: 100px;
    margin: 20px;
}