
body {
    width: 100%;
}

.img {
    width: 500px;
    height: 300px;
}

#sword {
    width: 130px;
}

.main {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    text-align: center;
    color: #00628b;
    text-shadow:

        0 0 21px rgb(40, 9, 219);


}

.con {
    display: block;
}
.con1{
    display: none;
}

.container_clown {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: #0f2027d9;
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #00628bd9;
    align-items: center;
    justify-content: start;


}

.content1 :hover {
    transition: 0.2s ease;
    padding-top: 10px;
}

a {
    margin: 9px;
    font-size: 25px;
    cursor: pointer;

}

#continue {
    height: 44px;
    width: 194px;
    background: rgb(65, 156, 38);
    color: rgb(0, 0, 0);
    font-size: 30px;
    cursor: pointer;
    margin: 15px;
}


/* типа ховер анимация */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.title h1 {

    font-size: 40px;
    color: #00628b;
    margin-bottom: 50px;
}

.list_menu a {
    font-size: 25px;
    color: #00628b;
    transition: 0.2s ease;
    padding-left: 5px;
}

.list_menu a:hover {
    transition: 0.2s ease;
    padding-left: 1px;
}

#money {
    z-index: 1;
    color: #000000;
}

.tymbaumba {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_menu {
    display: flex;
    align-items: center;
}

.menu {
    width: 1000px;
    top: 0;
    padding: 10px 50px;
    background: #2c53647a;
    height: 100vh;
    border-right: 20px solid rgb(190, 190, 190, 0.3);
    position: absolute;
    left: -980px;
    transition: 0.6s ease;
}

.menu:hover {
    left: 0;
    transition: 0.5s ease;
}

#progressbar {
    background-color: black;
    margin: auto;
    width: 500px;
    border-radius: 13px;
    padding: 3px;
}

#progressbar>div {
    background-color: orange;
    height: 20px;
    border-radius: 10px;
}

#score {
    margin-bottom: 20px;
}

#futer {
    display: flex;
    gap: 85%;
    height: 100px;
    margin: 20px;
}